<div class="picture">
  <% if picture.image_processed? %>
    <%= link_to image_tag(picture.image_url(:thumb)), picture if picture.image? %>
  <% else %>
    <em>Processing...</em>
  <% end %>

  <div class="name"><%= picture.title %></div>
  <div class="actions">
    <%= link_to "edit", edit_picture_path(picture) %> |
    <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>
