<h1>Gallery</h1>
<%= link_to "new", new_picture_path %>
<hr>
<div class="picture">
  <% @pictures.each do |picture| %>
    <div class="col-md-3">
    <ul>
      <%= link_to (image_tag picture.image_url(:thumb).to_s), picture %>
      <%= link_to picture.title, picture %>
    </ul>
  </div>
  <% end %>
</div>
