// Place all the styles related to the Visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  color: inherit;
  text-align: center;
  height: 575px;
  background: image-url('blurred.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Courier New", Times, serif;
}

.jumbotron h1 {
  color: white;
  padding-top: 100px;
}

.row {
  font-family: "Courier New", Times, serif;
}

.row h3 {
  color: white;
}

.box {
  background-color: white;
  background: image-url('urban_garden.jpg');
  width: auto;
  height: 300px;
  padding: 10px;
  margin: 30px;
}

.box-right {
  background-color: white;
  background: image-url('tools2.jpg');
  width: auto;
  height: 300px;
  padding: 10px;
  margin: 30px;
}

.box h3 {
  padding-top: 10px;
  font-family: "Courier New", Times, serif;
}

.box2-left {
  background-color: white;
  background: image-url('cool_garden.jpg');
  width: auto;
  height: 200px;
  padding: 10px;
  margin: 30px;
}

.box2-center {
  background-color: white;
  background: image-url('breeze-garden.jpg');
  width: auto;
  height: 200px;
  padding: 10px;
  margin: 30px;
}

.box2-right {
  background-color: white;
  background: image-url('garden-party.jpg');
  width: auto;
  height: 200px;
  padding: 10px;
  margin: 30px;
}

.footer {
  background-color: #F5FFFA;
}

