<center>
	<footer>
		<div class="row">
			<div class="col-sm-4">
		  	<p class="text-center">developed by Seasalt Labs</p>
			</div>
			<div class="col-sm-4">
		  	<p>Contact information: <a href="mailto:someone@example.com">
		  someone@example.com</a>.</p>
			</div>
		</div class="col-sm-4"></div>
		</div>
	</footer>
</center>
<br>
